html,
body {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),
    url(https://static.pexels.com/photos/30342/pexels-photo-30342.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* NAVIGATION */

.navbar-default {
    color: #ffffff;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid;
    border-color: #373737;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #737373;
    font-size: 1.7em;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.navbar-default .navbar-brand b {
    color: #199fd7; /*9b9b9b*/
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #199fd7;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #9b9b9b;
    border-bottom: 4px solid transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #606060;
    border-bottom: 4px solid #199fd7;
}

.navbar-default .navbar-nav > li > .active {
    color: #606060;
    font-weight: bold;
    border-bottom: 4px solid #199fd7;
}

.offset {
    height: 100px;
}

/* CONTENT */
.header {
    color: #ffffff;
    margin-top: 10%;
    text-align: center;
}

.header h4 {
    margin-bottom: 30px;
}

.btn-home {
    height: 100px;
    width: 250px;
    font-size: 22px;
    background-color: #199fd7;
    border-radius: 0px;
    border: 2px solid #ffffff;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

#register-button {
    color: #FFFFFF;
}

.alert {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
    box-shadow: none;
}

.btn {
    border-radius: 0px;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

.btn-home:hover, .btn-home:focus {
    color: #ffffff;
    background-color: #1986be;
}

.pull-down {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.info {
    background-color: white;
}

.information {
    margin-bottom: 10px;
}

.match-counter {
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.3);
}

.match-counter p {
    font-size: 1.2em;
}

.login-container {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 500px;
    margin-left: calc(50% - 250px);
    background-color: white;
}


.default-container {
    padding: 10px;
    padding-top: 1px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.register-step {
    display: none;
}

.login-register {
    float: right;
    margin-top: 10px;
}

.login-register a{
    color: #2a6496;
}

.menu-logout {
    color: red !important;
}

.user-image {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
}

.user-image img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.info-username {
    margin-top: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.info-email {
    text-align: center;
    font-size: 1em;
    color: #767676;
}

.info-location {
    margin-top: 15px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
}

.info-matches {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.info-matches a {
    margin-bottom: 5px;
}

.info-matches .btn {
    width: 100%;
    text-align: center;
}

.info-matches .badge {
    background-color: #199fd7;
}

.info-matches .logout {
    margin-top: 20px;
}

.micropost {
    margin-top: 10px;
}

.update-wrapper {
    margin-top: 15px;
}

.update-post {
    height: 75px;
    margin: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.update-post:last-child {
    margin-bottom: 5px;
}

.post-deletable:hover {
    background-color: rgba(204, 204, 204, 0.45);
}

.update-post .update-image {
    width: 55px;
    float: left;
}

.update-post .update-info {
    float: left;
    width: calc(100% - 80px);
    margin-left: 10px;
}

.update-post .update-info .name {
    font-weight: 700;
    float: left;
}

.update-post .update-info .date {
    float: right;
    color: #767676;
}

.update-post .update-info .message {
    width: 100%;
    float: right;
}

.update-post .update-image .identifier {
    width: 100%;
    height: 55px;
    border-radius: 50px;
    text-align: center;
    line-height: 60px;
    font-size: 2.5em;
    color: white;
    background-color: #2aabd2;
}

.update-post .update-image .delete-update {
    width: 100%;
    height: 55px;
    border-radius: 50px;
    text-align: center;
    line-height: 60px;
    font-size: 2em;
    color: white;
    background-color: #d9534f;
    display: none;
}

.post-deletable:hover .update-image .delete-update {
    display: block;
}

.post-deletable:hover .update-image .identifier {
    display: none;
}

.message-wrapper {
    margin-top: 10px;
}

/* Custom style for Sollicitant pages */

.top-space {
    margin-top: 40px !important;
}

.top-space-p {
    padding-top: 40px !important;
}

.vacature-table {
    display: none;
}

.vacature-button-closed {
    display: none;
}